services:
  api:
    build:
      context: ./backend-java/api
    container_name: gs-api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_USERNAME: "${SPRING_DATASOURCE_USERNAME}"
      SPRING_DATASOURCE_PASSWORD: "${SPRING_DATASOURCE_PASSWORD}"
      APP_JWT_SECRET: "${APP_JWT_SECRET}"
      # Ajuste o service name conforme seu ambiente
      SPRING_DATASOURCE_URL: "jdbc:oracle:thin:@//oracle.fiap.com.br:1521/orcl"
    command: [
      "java","-jar","/app/app.jar",
      "--spring.datasource.url=${SPRING_DATASOURCE_URL}"
    ]
